<div class="row">
    <div class="col-sm-6">
        <h1>
            <i class="fas fa-map-marker-alt"></i>
            <%= @location[:title] %>
        </h1>
        <h3>Rating: <%= @location[:rating] %></h3>
        <p><b><%= @location[:description] %></b></p>
        <p>Type: <%= @location[:type] %></p>
        <p>Budget: <%= @location[:budget] %></p>

        <iframe
                width="380"
                height="500"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
                &q=<%= @latitude %>,<%= @longitude %> &zoom=5" allowfullscreen>
        </iframe>
        
        <p>
            <a href="/" class="btn btn-primary">Back</a>
        </p>
    </div>
    <div class="col-sm-6">
    <h2><%= @location[:title] %> reviews:</h2>
    <p>Total reviews: <%= @reviews_count %></p>
    <p><i class="far fa-compass"></i> Locals: <%= @local_count %> | <i class="fas fa-suitcase-rolling"></i> Tourists: <%= @tourist_count %></p>
        <% for review in @reviews %>
                <p><% if review[:local] %>
                    <i class="far fa-compass"></i>
                <% else %>
                    <i class="fas fa-suitcase-rolling"></i>
                <% end %>
                <b><%= review[:summary] %></b></p>
                    <p><%= review[:comments] %></p>
                    <p>Rating: <%= review[:rating] %>  |  <%= review[:student_name] %> - <%= review[:student_year] %></p>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/location/<%= @location[:id] %>/reviews/new" class="btn btn-primary">Leave a comment!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to comment</a>
            <% end %>
        </p>
    </div>
</div>